@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'lato' , sans-serif;
  line-height: 1.6;
  background-color: rgb(255, 254, 253);
}
h1 h2{
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0;
;
}
p{
  margin: 10px 0;
}
img{
  width: 100%;
}
.page{
  background-color: rgb(103, 175, 214);
  display: flex;
  justify-content: center;
  position: relative;
  top: 70px;
  height: 300px;
  color: white;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-contral{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px #000;
  position: relative;
  top: 65px;
  right: 157px;
  width: 150%;
  height: 80px;
}
.btn:hover{
  color: rgb(255, 255, 255);  
  transform: scale(0.98);
}
.btn-outline{
  text-decoration: none;
}
.btn-primery{
 background-color: rgb(8, 8, 69);
 color: rgb(0, 149, 255);
 position: relative;
 top: 10px;
 left: 165px;
 width: 50%;
 height: 50px;
}
input[type='text']{
  background-color: rgb(255, 255, 255);
  border: 0;
  border-bottom: 1px solid rgb(184, 171, 171);
  padding: 10px;
  font-size: 14px;
  outline: none;
}
input[type='password']{
  background-color: rgb(255, 255, 255);
  border: 0;
  border-bottom: 1px solid rgb(150, 134, 134);
  padding: 10px;
  font-size: 14px;
  outline: none;
}